@import "../../fonts/fonts";

.wrapper {
  display: flex;
  position: relative;
  z-index: 1;

  .contentWrapper {
    max-width: 1072px;
    padding: 32px 0 0 38px;
    flex-grow: 1;

    .inputCreateTodo {
      max-width: 716px;
      margin: 27px 30px 30px 0;
    }
  }
}