.addSubtaskButton{
  margin-top: 10px;
  float: right;
}

.subtasks {
  margin-top: 20px;
  padding-left: 20px;
}

.divider {
  margin-top: 70px;
  opacity: 1;
  border-color: #A0AEC0;
}

.typeInput {
  margin-bottom: 20px;
}